<div class="w-100 p-3" style="background-color: #eee; height: 200px; text-align: center;">
  <img width="300" align="left" alt="Angular Logo" src="https://www.msg-systems.ro/images/logo_msg_RGB.svg">
  <h1>
    Welcome to Jbugs!
  </h1>
  <div class="row justify-content-center">
    <a routerLink="content"
       class="btn btn-primary">Go to content</a>
    <a routerLink="login"
       class="btn btn-primary">Go to login</a>
    <a routerLink="register"
       class="btn btn-primary"> Go to register</a>
  </div>
</div>
